.StatusTable tr th img{
    width: 200px;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 10%;
    /* border: 1px solid rgba(65, 252, 255, 0.6); */
    /* box-shadow: 0 0 15px rgba(65, 252, 255, 0.6); */
    margin-left: 1em;
    margin-bottom: 1em;
    /* filter: drop-shadow(0px 0px 10px rgba(65, 252, 255, 0.6)); */
    filter: drop-shadow(0px 0px 5px white);
}

.StatusTable{
width: 90%;
margin: auto;
margin-top: 2em;
margin-bottom: 2em;
box-shadow: 0 0 30px black;
}
html{overflow-y: hidden;overflow-x: hidden;}
.StatusTable tr:nth-child(even){
background: rgb(102, 141, 149);
}
.StatusTable tr:nth-child(odd){
background: rgb(59, 94, 98);
}
.StatusTable tr:nth-child(1) th{
background: rgb(0, 0, 0);
color: white;
font-size: 1.1em;
font-family: gunplay;
}
.StatusTable tr td, 
.StatusTable tr th{
padding: 0.5em;
border: 1px solid rgba(0, 0, 0, 0.142);
border-bottom: 1px solid black;
}
.StatusTable tr td p{
font-family: monospace;
font-size: 1.5em;
display: inline-block;
color: rgb(180, 230, 255);
margin: auto;
margin-left: 1em;
margin-right: 1em;
}
.StatusTable tr td:nth-child(2) p{
    width: 80%;
    text-align: center;
}
.container{
background-image: linear-gradient(
rgba(30, 30, 30, 1) 0%,
rgba(20, 20, 20, 1) 33%,
rgba(10, 10, 10, 1) 66%,
rgba(0, 0, 0, 1) 100%
);
width: 90%;
display: block;
position: relative;
border: 1px solid #0c0c0c;
margin: auto;
margin-top: 1em;
margin-bottom: 4em;
border: 1px solid rgba(65, 252, 255, 0.6);
box-shadow: 0 0 15px rgba(65, 252, 255, 0.6);
border-radius: 20px;
animation: loading 1s linear;
opacity: 0.8;
z-index: 1;
}
.StatusTable tr td p a{
    display: inline;
    padding: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
    /* margin-left: 1em; */
    background: linear-gradient(
        rgba(130, 130, 130, 1) 0%,
        rgba(120, 120, 120, 1) 33%,
        rgba(110, 110, 110, 1) 66%,
        rgba(100, 100, 100, 1) 100%
        );
        font-size: 0.6em;
    text-decoration: none;
    color: black;
    font-weight: bold;

}