* {outline: 0cap solid pink;padding: 0;margin: 0;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
:root{
    /* --BackgroundColor: linear-gradient(rgb(9, 1, 67), rgb(0, 0, 0)); */
    --BackgroundColor: black;
    --GraphWidth: 200px;
    --GraphLabelWidth: calc(var(--GraphWidth)/2);
}
html{background: var(--BackgroundColor);overflow: hidden;}
grid{display: grid;grid-template-columns: repeat(3, 1fr);width: 90%;margin: auto;padding: 2em;gap: 2em;}
.container{background-image: linear-gradient(rgba(30, 30, 30, 1) 0%,rgba(20, 20, 20, 1) 33%,rgba(10, 10, 10, 1) 66%,rgba(0, 0, 0, 1) 100%);width: fit-content;display: block;position: relative;border: 1px solid #0c0c0c;margin: auto;}
.container graph{color: white;margin: 1em;}
.container graph canvas{width: var(--GraphWidth);display: block;position: relative;transform: rotate(112deg);}
.container graph h3,graph value{position: relative;display: block;left: calc(var(--GraphWidth)/2 - var(--GraphLabelWidth)/2);width: var(--GraphLabelWidth);text-align: center;}

.linegraph{width: 90%;grid-column-start: 1;grid-column-end: 4;margin: auto;}
#myChart{filter: invert(1);}